<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Medicine ID</th>
        <th>Medicine Name</th>
        <th>Expiry Date</th>
        <th>Medicine Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for medicine in medicines %}
    <tr>
        <td>{{ medicine.m_id }}</td>
        <td>{{ medicine.m_name }}</td>
        <td>{{ medicine.m_expiery }}</td>
        <td>{{ medicine.m_price }}</td>
        <td>
            <a href="/edit/{{ medicine.m_id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ medicine.m_id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>
</body>
</html>